.sudoku__board {
  display: grid;
  width: 900px;
  height: 900px;
  border: 3px solid #000;
  grid-template-columns: repeat(9, 1fr);
  box-sizing: border-box;
}

.sudoku__cell {
  border: 1px solid #aaa;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  /* height: 100px; =  */
  aspect-ratio: 1;
}

/* .sudoku__cell:nth-child(3),
.sudoku__cell:nth-child(6),
.sudoku__cell:nth-child(12),
.sudoku__cell:nth-child(15), {
	border-right: 2px solid #000;
} = */
.sudoku__cell:nth-child(3n):not(:nth-child(9n)) {
  border-right: 3px solid #000;
}

.sudoku__cell:nth-child(n + 19):nth-child(-n + 27),
.sudoku__cell:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 3px solid #000;
}
